<footer>
  <div class="container">
    <p>
      © {{ "now" | date: "%Y" }} Laboratório de Pesquisa Operacional e Sistemas
      Complexos. Todos os direitos reservados.
    </p>
    <p>
      Parte da
      <a href="https://www.eng.ufmg.br/portal/" target="_blank" rel="noopener noreferrer">
        Escola de Engenharia
      </a>
      da
      <a href="https://ufmg.br/" target="_blank" rel="noopener noreferrer">
        Universidade Federal de Minas Gerais (UFMG)
      </a>
    </p>
  </div>
</footer>
